@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 81px;
    left: 23px;

    width: 265px;
    height: 469px;


}

section#redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: end;

    padding: 8px;
}

section#redes-sociais a > img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
    box-sizing: border-box;

    transition: transform 0.2s;
}

section#redes-sociais img:hover {
    transform: scale(1.10);
    border: 2px solid rgba(255, 255, 255, 0.623);
}